Node Red Flow/flows.json
[
    {
        "id": "92e4522b0fe328d6",
        "type": "tab",
        "label": "Solar Project Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "163144fe23ed50c6",
        "type": "ui_gauge",
        "z": "92e4522b0fe328d6",
        "name": "",
        "group": "a112e2c3158933dd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thermocouple 01",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "b614c5c7c629c0b6",
        "type": "ui_gauge",
        "z": "92e4522b0fe328d6",
        "name": "",
        "group": "a112e2c3158933dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thermocouple 02",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "1a7280a3a1beaef8",
        "type": "mqtt in",
        "z": "92e4522b0fe328d6",
        "name": "",
        "topic": "/ThashmikaX/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a580fc20da658e76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "163144fe23ed50c6",
                "251800710b8d2b49"
            ]
        ]
    },
    {
        "id": "c29780eb620a8795",
        "type": "mqtt in",
        "z": "92e4522b0fe328d6",
        "name": "",
        "topic": "/ThashmikaX/hum",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a580fc20da658e76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "b614c5c7c629c0b6",
                "9766faa72602e700"
            ]
        ]
    },
    {
        "id": "251800710b8d2b49",
        "type": "ui_chart",
        "z": "92e4522b0fe328d6",
        "name": "",
        "group": "445fe2565d453390",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9766faa72602e700",
        "type": "ui_chart",
        "z": "92e4522b0fe328d6",
        "name": "",
        "group": "445fe2565d453390",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "207de46bf92532d0",
        "type": "ui_template",
        "z": "92e4522b0fe328d6",
        "group": "445fe2565d453390",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0311fdd4cda142a6",
        "type": "ui_spacer",
        "z": "92e4522b0fe328d6",
        "name": "spacer",
        "group": "445fe2565d453390",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a112e2c3158933dd",
        "type": "ui_group",
        "name": "Default",
        "tab": "9f41d64fec61aceb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a580fc20da658e76",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "8884",
        "clientid": "clientId-7Oq5KV8amB",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "445fe2565d453390",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "84b69d5ab8ebf283",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "9f41d64fec61aceb",
        "type": "ui_tab",
        "name": "Overview",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false,
        "info": "Hi this is test"
    },
    {
        "id": "84b69d5ab8ebf283",
        "type": "ui_tab",
        "name": "Statistics",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]